@Html.DevExpress().RoundPanel(
    settings =>
    {
        settings.Name = "cbpExample";

        settings.HeaderText = "Linked Items";
        settings.ShowHeader = true;
        settings.AllowCollapsingByHeaderClick = true;
        settings.ShowCollapseButton = false;
        settings.EnableAnimation = true;
        settings.Width = Unit.Percentage(100);
        settings.Collapsed = false;
        settings.ControlStyle.Font.Size = FontUnit.Medium;

        settings.CallbackRouteValues = new { Controller = "Navigation", Action = "LinkedItems" };
        settings.Width = Unit.Percentage(100);
        settings.Height = 400;

        settings.SetContent(() =>
        {

            //if (Model != null)
            //{
            //    foreach (var link in Model.LinkedRecords)
            //    {
            //        ViewContext.Writer.Write(
            //            "</div>" +
            //                link.CaseNo
            //            +
            //            "</div><br/>"
                        
            //        );
            //    }
            //}

            @Html.DevExpress().ListBox(settings2 =>
            {
                settings2.Name = "listBox1";
                settings2.Width = Unit.Pixel(163);

                settings2.CallbackRouteValues = new { Controller = "Navigation", Action = "LinkedItems" };

                //settings2.Properties.Items.Add("Ana Trujillo");
                //settings2.Properties.Items.Add("Giovanni Rovelli");
                //settings2.Properties.Items.Add("Jaime Yorres");
                //settings2.Properties.Items.Add("John Steel");
                settings2.Properties.EnableClientSideAPI = true;

                settings2.Properties.TextField = "CaseNo";
                settings2.Properties.ValueField = "HseqRecordID";
                //ettings2.Properties.ValueType = typeof(Int32);
                //settings2.SelectedIndex = 0;


            }).BindList(ViewData["LinkedItems"]).GetHtml();            
        });

        settings.ClientSideEvents.BeginCallback = "OnLinkedRecordsBeginCallback";
        settings.ClientSideEvents.EndCallback = "OnLinkedRecordsEndCallback";
    }
).GetHtml()