@model HseqCentralApp.Models.HseqTask

@using HseqCentralApp.Helpers;
@using HseqCentralApp.Models;

@using (Ajax.BeginForm("TaskGridViewAdd", "Navigation",
                new AjaxOptions
                {
                    HttpMethod = "Post",
                    UpdateTargetId = "CenterSplitterPane",
                    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
                    OnFailure = "PostFailure",
                    OnSuccess = "PostSuccess",
                    OnComplete = "PostOnComplete"
                }))
{

    @*@Html.HiddenFor(m => m.DelegatableID)*@
    @Html.HiddenFor(m => m.HseqRecordID)
    @*@Html.HiddenFor(m => m.HseqRecord)*@

@Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "TaskFormLayout";
    settings.Width = Unit.Percentage(100);

    var groupItem2 = settings.Items.AddGroupItem(groupSettings =>
    {
        groupSettings.Caption = "Edit Task: " + Model.HseqRecord.CaseNo;

        groupSettings.ShowCaption = DefaultBoolean.True;
        groupSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;

    });

    groupItem2.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Left;

    groupItem2.SettingsItemHelpTexts.Position = HelpTextPosition.Auto;

    groupItem2.ColCount = 2;

    groupItem2.Items.Add(m => m.HseqRecord.RecordType, item =>
    {
        item.NestedExtensionSettings.Width = Unit.Percentage(100);
        item.NestedExtension().Label(s =>
        {
            s.Width = Unit.Percentage(100);

        });
    });

    groupItem2.Items.Add(m => m.HseqRecord.RecordNo, item =>
    {
        item.NestedExtensionSettings.Width = Unit.Percentage(100);
        item.NestedExtension().Label(s =>
        {
            s.Width = Unit.Percentage(100);

        });
    });

    groupItem2.Items.Add(m => m.HseqRecord.Title, item =>
    {
        item.ColSpan = 2;
        item.NestedExtensionSettings.Width = Unit.Percentage(100);
        item.NestedExtension().Label(s =>
        {
            s.Width = Unit.Percentage(100);

        });
    });


    groupItem2.Items.Add(m => m.HseqRecord.Description, item =>
    {
        item.ColSpan = 2;
        item.NestedExtensionSettings.Width = Unit.Percentage(100);
        item.NestedExtension().Label(s =>
        {
            s.Width = Unit.Percentage(100);

        });
    });



    var groupItem = settings.Items.AddGroupItem(groupSettings =>
    {
        groupSettings.Caption = "Edit Task: ";

        groupSettings.ShowCaption = DefaultBoolean.False;
        groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;

    });

    groupItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Left;

    groupItem.SettingsItemHelpTexts.Position = HelpTextPosition.Auto;

    groupItem.ColCount = 2;

    groupItem.Items.Add(m => m.Title, item =>
    {
        item.ColSpan = 2;
        item.NestedExtensionSettings.Width = Unit.Percentage(100);
        item.NestedExtension().TextBox(s =>
        {
            s.Width = Unit.Percentage(100);
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            s.ShowModelErrors = true;
        });
    });

    groupItem.Items.Add(m => m.Description, i =>
    {
        i.ColSpan = 2;
        i.NestedExtension().Memo(s =>
        {
            s.Width = Unit.Percentage(100);
            s.Height = Unit.Pixel(100);
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            s.ShowModelErrors = true;

        });
    });

    groupItem.Items.Add(m => m.Status, i =>
    {
        i.NestedExtension().ComboBox(s =>
        {
            s.Properties.TextField = "Status";
            s.Properties.ValueField = "Status";
            s.Properties.ValueType = typeof(string);
            s.Properties.DropDownStyle = DropDownStyle.DropDown;
            s.Properties.ClientSideEvents.Init = "function(s,e){if(s.GetValue()=='0'){ s.SetValue(null);} }";

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            s.ShowModelErrors = true;
        });
    });


    groupItem.Items.Add(m => m.OwnerID, i =>
    {
        i.NestedExtension().ComboBox(s =>
        {
            s.Properties.TextField = "FullName";
            s.Properties.ValueField = "HseqUserID";
            s.Properties.DataSource = Utils.AppUsers();
            s.Properties.ValueType = typeof(string);
            s.Properties.DropDownStyle = DropDownStyle.DropDown;
            s.Properties.ClientSideEvents.Init = "function(s,e){if(s.GetValue()=='0'){ s.SetValue(null);} }";

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            s.ShowModelErrors = true;
        });
    });



    groupItem.Items.Add(m => m.DelegatableID).Visible = false;

    groupItem.Items.Add(m => m.AssigneeID, i =>
    {
        i.NestedExtension().ComboBox(s =>
        {
            s.Properties.TextField = "FullName";
            s.Properties.ValueField = "HseqUserID";
            s.Properties.DataSource = Utils.AppUsers();
            s.Properties.ValueType = typeof(string);
            s.Properties.DropDownStyle = DropDownStyle.DropDown;
            s.Properties.ClientSideEvents.Init = "function(s,e){if(s.GetValue()=='0'){ s.SetValue(null);} }";

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            s.ShowModelErrors = true;
        });
    });

    groupItem.Items.Add(m => m.DateAssigned);
    groupItem.Items.Add(m => m.DueDate);
    //groupItem.Items.Add(m => m.HseqRecordID).Visible = false;
    //groupItem.Items.Add(m => m.Comments);

    settings.Items.Add(i =>
    {
        i.ShowCaption = DefaultBoolean.False;
    }).SetNestedContent(() =>
    {
        ViewContext.Writer.Write("<div style='float:right'>");
        Html.DevExpress().Button(
            s =>
            {
                s.Name = "ncrUpdateButton";
                s.Text = "Update";
                s.UseSubmitBehavior = true;
            }).Render();
        Html.DevExpress().Button(
            s =>
            {
                s.Name = "editCancelButton";
                s.Text = "Cancel";
                s.ClientSideEvents.Click = "function(s, e){RecordCancelEdit()}";
                s.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
            }).Render();
        ViewContext.Writer.Write("</div>");
    });
}).Bind(Model).GetHtml()

}